@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-headline: 'Manrope', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #00601f;
    --color-secondary: #0056b3;
    --color-primary-container: #7ee89a;
    --color-on-surface: #1a1c1e;
    --color-surface-container-lowest: #fdfefe;
}
